<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inzynierka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inzynierka.styles.css" asp-append-version="true" />
</head>
<body id="Layout">
    <header>
       
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark mb-3" style="position:relative;bottom:9px;">
            <div class="container-fluid" id="layoutNavbar">
                <a class="navbar-brand text-white-50 bg-dark" style="padding-left:15px;padding-right:15px;padding-bottom:4px;position:relative;right:20px;" asp-area="" asp-controller="Home" asp-action="Index">Inzynierka</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white bg-dark" style="position:absolute;right:0;top:0;padding-bottom:18px;" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <nav class="menu" style="z-index:2;padding-bottom:5px;position:absolute;position:relative;bottom:34px;">
        <ul class="menu__list">
            <li class="menu__item menu__item--parent">
                    <a href="#offer" class="menu__link" style="color:black;" disabled>Panel Użytkownika ▼</a>
                <ul class="menu__sublist menu__sublist--bottom">
                    <li class="menu__item" style="color:black;">
                        <a asp-controller="User" asp-action="Account" class="menu__link" style="color:black;">Moje Dane</a>
                    </li>
                    <li class="menu__item menu__item--parent">
                        Ustawienia ▶
                        <ul class="menu__sublist menu__sublist--right">
                            <li class="menu__item">
                                    <a asp-controller="User" asp-action="AccountSettings" class="menu__link" style="color:black;">Dane Konta</a>
                            </li>
                            <li class="menu__item">
                                    <a style="color:black;" asp-controller="User" asp-action="StylingSettings" class="menu__link">Style</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                            <a style="color:black;" asp-controller="Company" asp-action="CreateCompany" class="menu__link">Dodaj Firmę</a>
                    </li>
                </ul>
            </li>
            <li class="menu__item menu__item--parent">
                    <a href="#offer" class="menu__link" style="color:black;" disabled>Panel Firmy ▼</a>
                <ul class="menu__sublist menu__sublist--bottom">
                    <li class="menu__item">
                        <a id="CompanyData" asp-controller="Company" asp-action="CompanyData" class="menu__link" style="color:black;">Dane Firmy</a>
@*                             <script>
                            var companyId = localStorage.getItem('companySelect');
                            if (companyId) {
                                var link = document.getElementById('CompanyData');
                                link.href = link.href + '?companyId=' + companyId;
                            }
                        </script> *@
                        <script>
                            document.getElementById('CompanyData').addEventListener('click', function (event) {
                                var companyId = localStorage.getItem('selectedCompany');
                                console.log(companyId);
                                if (companyId) {
                                    this.href = this.getAttribute('href').split('?')[0] + '?companyId=' + companyId;
                                } else {
                                    event.preventDefault();
                                }
                            });
                            </script>
                    </li>
                    <li class="menu__item">
                            <a id="WorkerData" style="color:black;" asp-controller="Worker" asp-action="WorkerData" class="menu__link">Panel Pracowników</a>
                            <script>
                                document.getElementById('WorkerData').addEventListener('click', function (event) {
                                    var companyId = localStorage.getItem('selectedCompany');
                                    if (companyId) {
                                        this.href = this.getAttribute('href').split('?')[0] + '?companyId=' + companyId;
                                    } else {
                                        event.preventDefault();
                                    }
                                });
                            </script>
                    </li>
                    <li class="menu__item">
                            <a id="ClientData" style="color:black;" asp-controller="Client" asp-action="ClientData" class="menu__link">Panel Klientów</a>
                            <script>
                                document.getElementById('ClientData').addEventListener('click', function (event) {
                                    var companyId = localStorage.getItem('selectedCompany');
                                    if (companyId) {
                                        this.href = this.getAttribute('href').split('?')[0] + '?companyId=' + companyId;
                                    } else {
                                        event.preventDefault();
                                    }
                                });
                            </script>
                    </li>
                </ul>
            </li>
            <li class="menu__item menu__item--parent">
                    <a href="#offer" class="menu__link" style="color:black;" disabled>Panel Faktur ▼</a>
                <ul class="menu__sublist menu__sublist--bottom">
                    <li class="menu__item">
                            <a id="AddInvoice" style="color:black;" asp-controller="Invoice" asp-action="AddInvoice" class="menu__link">Utwórz Fakturę</a>
                            <script>
                                document.getElementById('AddInvoice').addEventListener('click', function (event) {
                                    var companyId = localStorage.getItem('selectedCompany');
                                    if (companyId) {
                                        this.href = this.getAttribute('href').split('?')[0] + '?companyId=' + companyId;
                                    } else {
                                        event.preventDefault();
                                    }
                                });
                            </script>
                    </li>
                    <li class="menu__item">
                            <a id="ExportInvoice" style="color:black;" asp-controller="Invoice" asp-action="ExportInvoice" class="menu__link">Generuj Rozliczenie z Klientem</a>
                            <script>
                                document.getElementById('ExportInvoice').addEventListener('click', function (event) {
                                    var companyId = localStorage.getItem('selectedCompany');
                                    if (companyId) {
                                        this.href = this.getAttribute('href').split('?')[0] + '?companyId=' + companyId;
                                    } else {
                                        event.preventDefault();
                                    }
                                });
                            </script>
                    </li>
                    <li class="menu__item">
                            <a id="InvoiceData" style="color:black;" asp-controller="Invoice" asp-action="InvoiceData" class="menu__link">Historia Faktur</a>
                            <script>
                                document.getElementById('InvoiceData').addEventListener('click', function (event) {
                                    var companyId = localStorage.getItem('selectedCompany');
                                    if (companyId) {
                                        this.href = this.getAttribute('href').split('?')[0] + '?companyId=' + companyId;
                                    } else {
                                        event.preventDefault();
                                    }
                                });
                            </script>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>

    </header>
    <div class="container" asp-validation-summary="All">
        @if(TempData["Success"] != null){
            <p1> @TempData["Success"] </p1>
        } else if (TempData["Error"] != null){
            <p2> @TempData["Error"] </p2>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" id="layoutFooter" style="max-height: 100px;">
        <div class="container"id="container">
            &copy; 2023 - Inzynierka - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
