@{
    var footersColor = Context.Session.GetString("footersColor") ?? string.Empty;
    var panelsColor = Context.Session.GetString("panelsColor") ?? string.Empty;
    var textsColor = Context.Session.GetString("textsColor") ?? string.Empty;
    var backgroundsColor = Context.Session.GetString("backgroundsColor") ?? string.Empty;
    var userId = Context.Session.GetString("UserID") ?? string.Empty;
    int? privilages = null;
    if(userId != string.Empty)
    {
        privilages = int.Parse(Context.Session.GetString("Privilages") ?? string.Empty);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inzynierka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inzynierka.styles.css" asp-append-version="true" />
    <style>
        #Layout {
            color: @textsColor !important;
            background-color: @backgroundsColor !important;
        }

        label {
            color: @textsColor !important;
        }

        #layoutNavbar {
            background-color: @panelsColor !important;
        }

        #layoutFooter {
            background-color: @footersColor !important;
        }

    </style>
</head>
<body id="Layout">
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark navbar-light" style="position:relative;">
            <div class="container-fluid row" id="layoutNavbar">
                <a class="navbar-brand text-white-50 col-3" asp-area="" asp-controller="Home" asp-action="Index">Inzynierka</a>
                @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>*@
                <div class="navbar-collapse collapse col-9">
                    <div class="row w-100">
                        @if (userId != string.Empty)
                        {
                            <div class="nav-item col-6 com-md-2 col-lg-1 ms-auto text-end">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="ChangeCompany">Zmiana Firmy</a>
                            </div>
                            <div class="nav-item col-6 col-md-2 col-lg-1 text-end">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Logout">Wyloguj się</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
        
        @if (userId != string.Empty)
        {
            <nav class="menu" style="z-index:12;margin-bottom:25px;position:absolute;position:relative;">
                <ul class="menu__list px-0">
                <li class="menu__item menu__item--parent">
                    <a href="#offer" class="menu__link" style="color:black;" disabled>Panel Użytkownika ▼</a>
                    <ul class="menu__sublist menu__sublist--bottom p-0">
                        <li class="menu__item" style="color:black;">
                            <a asp-controller="User" asp-action="Account" class="menu__link" style="color:black;">Moje Dane</a>
                        </li>
                        <li class="menu__item">
                            <a asp-controller="User" asp-action="StylingSettings" class="menu__link" style="color:black;">Moje Style</a>
                        </li>
                            @if (privilages >= 2)
                            {
                                <li class="menu__item">
                                    <a style="color:black;" asp-controller="Company" asp-action="CreateCompany" class="menu__link">Dodaj Firmę</a>
                                </li>
                            }
                    </ul>
                </li>
                @if (privilages >= 1)
                {
                    <li class="menu__item menu__item--parent">
                        <a href="#offer" class="menu__link" style="color:black;" disabled>Panel Firmy ▼</a>
                            <ul class="menu__sublist menu__sublist--bottom p-0">
                            @if (privilages >= 2)
                            {
                                <li class="menu__item">
                                    <a id="CompanyData" asp-controller="Company" asp-action="CompanyData" class="menu__link" style="color:black;">Dane Firmy</a>
                                </li>
                            }
                            <li class="menu__item">
                                <a id="WorkerData" style="color:black;" asp-controller="Worker" asp-action="WorkerData" class="menu__link">Panel Pracowników</a>
                            </li>
                            <li class="menu__item">
                                <a id="ClientData" style="color:black;" asp-controller="Client" asp-action="ClientData" class="menu__link">Panel Klientów</a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="menu__item menu__item--parent">
                    <a href="#offer" class="menu__link" style="color:black;" disabled>Panel Faktur ▼</a>
                    <ul class="menu__sublist menu__sublist--bottom p-0">
                        <li class="menu__item">
                            <a id="AddInvoice" style="color:black;" asp-controller="Invoice" asp-action="AddInvoice" class="menu__link">Utwórz Fakturę</a>
                        </li>
                        <li class="menu__item">
                            <a id="ExportInvoice" style="color:black;" asp-controller="Invoice" asp-action="ExportInvoice" class="menu__link">Generuj Rozliczenie z Klientem</a>
                        </li>
                        <li class="menu__item">
                            <a id="InvoiceData" style="color:black;" asp-controller="Invoice" asp-action="InvoiceData" class="menu__link">Historia Faktur</a>
                        </li>
                    </ul>
                </li>
                </ul>
            </nav>
        }

    </header>
    <div class="container" asp-validation-summary="All">
        @if (TempData["Success"] != null)
        {
            <p1> @TempData["Success"] </p1>
        }
        else if (TempData["Error"] != null)
        {
            <p2> @TempData["Error"] </p2>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
