<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inzynierka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inzynierka.styles.css" asp-append-version="true" />
</head>
<body id="Layout">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inzynierka</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="menu" style="padding-bottom:5px;position:absolute;">
        <ul class="menu__list">
            <li class="menu__item menu__item--parent">
                <a href="#offer" class="menu__link" disabled>Panel Użytkownika ▼</a>
                <ul class="menu__sublist menu__sublist--bottom">
                    <li class="menu__item" style="color:black;">
                        <a asp-controller="User" asp-action="Account" class="menu__link">Moje Dane</a>
                    </li>
                    <li class="menu__item menu__item--parent">
                        Ustawienia ▶
                        <ul class="menu__sublist menu__sublist--right">
                            <li class="menu__item">
                                <a asp-controller="User" asp-action="AccountSettings" class="menu__link">Dane Konta</a>
                            </li>
                            <li class="menu__item">
                                    <a style="color:black;" asp-controller="User" asp-action="StylingSettings" class="menu__link">Style</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                            <a style="color:black;" asp-controller="Company" asp-action="CreateCompany" class="menu__link">Dodaj Firmę</a>
                    </li>
                </ul>
            </li>
            <li class="menu__item menu__item--parent">
                <a href="#offer" class="menu__link">Panel Firmy ▼</a>
                <ul class="menu__sublist menu__sublist--bottom">
                    <li class="menu__item">
                            <a asp-controller="Company" asp-action="CompanyData" class="menu__link">Dane Firmy</a>
                    </li>
                    <li class="menu__item">
                            <a style="color:black;" asp-controller="Worker" asp-action="WorkerData" class="menu__link">Panel Pracowników</a>
                    </li>
                    <li class="menu__item">
                            <a style="color:black;" asp-controller="Client" asp-action="ClientData" class="menu__link">Panel Klientów</a>
                    </li>
                </ul>
            </li>
            <li class="menu__item menu__item--parent">
                <a href="#offer" class="menu__link">Panel Faktur ▼</a>
                <ul class="menu__sublist menu__sublist--bottom">
                    <li class="menu__item">
                            <a style="color:black;" asp-controller="Invoice" asp-action="AddInvoice" class="menu__link">Utwórz Fakturę</a>
                    </li>
                    <li class="menu__item">
                            <a style="color:black;" asp-controller="Invoice" asp-action="ExportInvoice" class="menu__link">Generuj Rozliczenie z Klientem</a>
                    </li>
                    <li class="menu__item">
                            <a style="color:black;" asp-controller="Invoice" asp-action="InvoiceData" class="menu__link">Historia Faktur</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>

    </header>
    <div class="container"asp-validation-summary="All">
        @if(TempData["Success"] != null){
            <p1> @TempData["Success"] </p1>
        } else if (TempData["Error"] != null){
            <p2> @TempData["Error"] </p2>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
