@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Company? company = ViewData["Company"] as Company ?? null;
    List<Client> avalibleClients = ViewData["Clients"] as List<Client> ?? new List<Client>();
}

<div class="container-fluid text-start">
    @if (company == null)
    {
        <h3>Coś poszło nie tak...</h3>
    }
    else
    {
        <div class="row mb-3">
            <div class="col">
                <h5 style="font-weight:800;font-size:xx-large;z-index:11;">Dodaj Klienta Do Firmy @company.Name</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <form asp-action="CreateClient" asp-controller="client" class="p-3" method="post" style="background-color:white;z-index:11;border: solid 5px black;outline: solid 10px beige">
                    <input type="number" value=@company.ID name="companyId" id="companyId" hidden>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="clientName">Nazwa Klienta:</label>
                            <input type="text" name="clientName" required>
                        </div>
                        <div class="col">
                            <label for="clientOwnerName">Imię i Nazwisko Właściciela Klienta:</label>
                            <input type="text" name="clientOwnerName" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="clientPostalCode">Kod Pocztowy Klienta:</label>
                            <input type="text" name="clientPostalCode" required>
                        </div>
                        <div class="col">
                            <label for="clientCity">Miasto Klienta:</label>
                            <input type="text" name="clientCity" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="clientProvince">Województwo Klienta:</label>
                            <input type="text" name="clientProvince">
                        </div>
                        <div class="col">
                            <label for="clientStreet">Ulica Klienta:</label>
                            <input type="text" name="clientStreet" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="clientLocaleNumber">Numer Lokalu Klienta:</label>
                            <input type="text" name="clientLocaleNumber" required>
                        </div>
                        <div class="col">
                            <label for="clientContactNumber">Numer Kontaktowy Klienta:</label>
                            <input type="text" name="clientContactNumber" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="clientContactMail">E-mail Klienta:</label>
                            <input type="text" name="clientContactMail" required>
                        </div>
                        <div class="col">
                            <label for="clientNIP">NIP Klienta:</label>
                            <input type="text" name="clientNIP" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="clientBankName">Nazwa Banku:</label>
                            <input type="text" name="clientBankName" required>
                        </div>
                        <div class="col">
                            <label for="clientBankAccountNumber">Numer Konta Bankowego:</label>
                            <input type="text" name="clientBankAccountNumber" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <h6>Czy Klient jest Firmą?</h6>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="clientIsCompanyYes" name="clientIsCompany" value="0" checked>
                                <label class="form-check-label" for="clientIsCompanyYes">Tak</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="clientIsCompanyNo" name="clientIsCompany" value="1">
                                <label class="form-check-label" for="clientIsCompanyNo">Nie</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col text-end">
                            <input type="submit" class="btn btn-outline-dark" value="Dodaj Klienta" style="z-index:11;">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @if (avalibleClients != null && avalibleClients.Count > 0)
        {
            <div class="row mb-3">
                <div class="col">
                    <h5>Modyfikuj Dane Klienta dla Klientów Firmy <b>@company.Name</b> </h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nazwa Klienta</th>
                                <th scope="col">Imię i Nazwisko Właściciela</th>
                                <th scope="col">Miasto Klienta</th>
                                <th scope="col">Województwo Klienta</th>
                                <th scope="col">Ulica Klienta</th>
                                <th scope="col">Numer Lokalu Klienta</th>
                                <th scope="col">Kod Pocztowy Klienta</th>
                                <th scope="col">NIP Klienta</th>
                                <th scope="col">Czy Firma?</th>
                                <th scope="col">Edytuj</th>
                                <th scope="col">Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Client client in avalibleClients)
                            {
                                <tr>
                                    <form asp-action="UpdateClient" asp-controller="Client" method="post">
                                        <input type="number" value=@client.ID name="clientID" hidden>
                                        <input type="number" value=@company.ID name="companyID" hidden>
                                    <td> <input type="text" value=@client.Name name="clientName" required></td>
                                    <td> <input type="text" value=@client.OwnerName name="clientOwnerName" required></td>
                                    <td> <input type="text" value=@client.City name="clientCity" required></td>
                                    <td> <input type="text" value=@client.Province name="clientProvince"></td>
                                    <td> <input type="text" value=@client.Street name="clientStreet" required></td>
                                    <td> <input type="text" value=@client.LocalNumber name="clientLocaleNumber" required></td>
                                    <td> <input type="text" value=@client.PostalCode name="clientPostalCode" required></td>
                                    <td> <input type="text" value=@client.NIP name="clientNIP" required></td>
                                    <td>
                                            @if (client.IsCompany != true)
                                            {
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="clientIsNotCompany" name="clientIsCompany" value="0" checked>
                                                <label class="form-check-label" for="clientIsNotCompany">Nie</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="clientIsCompany" name="clientIsCompany" value="1">
                                                <label class="form-check-label" for="clientIsCompany">Tak</label>
                                            </div>
                                            }
                                            else
                                            {
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="clientIsNotCompany" name="clientIsCompany" value="0">
                                                <label class="form-check-label" for="clientIsNotCompany">Nie</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="clientIsCompany" name="clientIsCompany" value="1" checked>
                                                <label class="form-check-label" for="clientIsCompanyD">Tak</label>
                                            </div>
                                            }
                                    </td>

                                    <td> <input type="submit" value="Modyfikuj"></td>
                                    </form>
                                    <form asp-action="DeleteClient" asp-controller="Client" method="post">
                                    <td>
                                        <input type="number" value=@client.ID name="ClientID" hidden>
                                        <input type="number" value=@company.ID name="companyID" hidden>
                                        <input type="submit" value="Usuń" style="background-color: red; color: navajowhite;">
                                    </td>
                                    </form>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
    @section Scripts
        {
    }
</div>
