@using Inzynierka.Models.ViewModels
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Company? company = ViewData["Company"] as Company ?? null;
    List<WorkerUsername>? workers = ViewData["Workers"] as List<WorkerUsername> ?? null;
}

<div class="container text-center">
    @if (company == null)
    {
        <h3>Coś poszło nie tak...</h3>
    }
    else
    {
        <h5>Dodaj nowego pracownika</h5>
        <form asp-action="AddWorker" asp-controller="Worker" method="post">
            <input type="number" value=@company.ID name="companyId" id="CompanyId" hidden>
            <input type="submit" value="Dodaj nowego pracownika do firmy">
        </form>
        <hr />
        @if (workers == null || workers.Count <= 0)
        {
            <h3>Nie znaleziono pracowników, dodaj nowego pracownika, aby móc ich modyfikować...</h3>
        }
        else
        {
            <h5>Modyfikuj Dane Pracowników - <b>@company.Name</b> </h5>
            <table>
                <tr>
                    <th scope="col">Nazwa Użytkownika Pracownika</th>
                    <th scope="col">Identyfikacja Pracownika</th>
                    <th scope="col">Uprawnienia</th>
                    <th scope="col">Data Ostatniej Modyfikacji</th>
                    <th scope="col">Data Utworzenia</th>
                </tr>
                @foreach (WorkerUsername worker in workers)
                {
                    <tr>
                        <form asp-action="UpdateWorker" asp-controller="Worker" method="post">
                        <td>@worker.Username</td>
                        <td> <input type="text" value=@worker.Worker.WorkerId name="workerIdentity"> </td>
                        <td>
                            <select name="privilages" id="Privilages">
                                    @if (worker.Worker.Privilages == 1)
                                    {
                                    <option value="1" selected>Kierownik</option>
                                    <option value="2">Księgowy</option>
                                    }
                                    else
                                    {
                                    <option value="1">Kierownik</option>
                                    <option value="2" selected>Księgowy</option>
                                    }
                            </select>
                        </td>
                        <td>@worker.Worker.ModDate</td>
                        <td>@worker.Worker.CreationDate</td>
                        <td>
                            <input type="number" name="companyId" value=@company.ID hidden>
                            <input type="number" name="workerId" value=@worker.Worker.ID hidden>
                            <input type="submit" value="Modyfikuj">
                        </td>
                        </form>
                        <td>
                            <form asp-action="DeleteWorker" asp-controller="Worker" method="post">
                                <input type="number" name="companyId" value=@company.ID hidden>
                                <input type="number" name="workerId" value=@worker.Worker.ID hidden>
                                <input type="submit" value="Usuń" style="background-color: red; color: navajowhite;">
                            </form>
                        </td>
                    </tr>
                }
            </table>
        }
    }
</div>
