@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link href="arkusz.css" rel="stylesheet" type="text/css">
        <title>Stylowy nagłówek</title>

    </head>
    <body>
        <div class="center">

            <div id="panel">
                <form>
                    <label for="username">Imię i nazwisko:</label>
                    <input type="text" id="ownername" name="ownername">
                    <input type="password" id="password" name="password">
                    <label for="referalCode">Kod referencyjny:</label>
                    <label for="nip">NIP firmy:</label>
                    <input type="text" id="nip" name="nip">
                    <label for="city">Ulica:</label>
                    <input type="text" id="street" name="street">
                    <label for="city">Numer domu:</label>
                    <input type="text" id="localnumber" name="localnumber">
                    <label for="postalcode">Kod pocztowy:</label>
                    <input type="text" id="postalcode" name="postalcode">
                    <label for="city">Miasto:</label>
                    <input type="text" id="city" name="city">
                    <label for="city">Województwo:</label>
                    <input type="text" id="province" name="province">
                    <label for="password">Hasło:</label>
                    <input type="text" id="referalCode" name="referalCode">
                    <div id="lower">
                        <div id="checkbox">
                            <input type="submit" value="Zarejestruj firmę!">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
    </html>
}
