<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ustawienia Konta</title>
</head>
<body>
    <div class="container-test-center">
        <a href="">Aktualizuj Swoje Dane</a>
        <a href="">Zmień Hasło</a>
        <a href="">Zmień Numer Telefonu</a>
        <a href="">??? Wybierz Sposób Dodatkowego Uwierzytelniania pprdzy Logowaniu ???</a>
        <a href="">Odepnij się od danej Firmy</a>
    </div>
</body>
</html>