<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje Dane Użytkownika</title>
</head>
<body>
    <div class="container text-center">
        <p>Nazwa Użytkownika: </p> <span></span>

        <p>Imie i Nazwisko: </p> <span></span>

        <p>Email: </p> <span></span>

        <p>Numer Telefonu: </p> <span></span>

        <p>Liczba Przypisanych Firm: </p> <span></span>

        <!--Tylko dla właścicieli Firm-->
        <p>Liczba Moich Firm: </p> <span></span>

        <p>Łączna Liczba Pracowników w Moich Firmach: </p> <span></span>

        <p>Data Utworzenia Konta: </p> <span></span>
    </div>
</body>
</html>