@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Company>? companies = ViewData["Companies"] as List<Company>;
}

<div class="container-test-center">
    <hr />
    <!-- klasa do usuniecia -->
    <h5 style=" font-weight: 800;font-size: xx-large;">
        Zmiana Hasła
    </h5>
    <form asp-action="ChangePassword" asp-controller="User" method="post" class="p-3" style="border: solid 5px black;outline: solid 10px beige;padding 5px;">
        <label for="oldPassword">Stare hasło:</label>
        <input type="password" id="oldPassword" name=oldPassword>

        <label for="newPassword">Nowe Hasło:</label>
        <input type="password" id="newPassword" name=newPassword>
        <label for="newPassword2">Powtórz Nowe Hasło:</label>
        <input type="password" id="newPassword2" name=newPassword2><br />
        <div id="submit" style="text-align:right;">
            <input type="submit" value="Wyślij">
        </div>
    </form>
    <hr />
    <!-- Zmień Nr.Telefonu -->
    <h5 style=" font-weight: 800;font-size: xx-large;">Zmiana Nr.Telefonu</h5>
    <form asp-action="ChangePhoneNumber" asp-controller="User" method="post" class="p-3" style="border: solid 5px black;outline: solid 10px beige;padding 5px;">
        <label for="password">Podaj Hasło:</label>
        <input type="password" name=password>

        @*<label for="mail" style="width: 100%;">Podaj Mail (Na który przyjdzie kod potwierdzający zmiane):</label>
        <input type="text" id="mail" name=mail style="width: 100%;">*@

        <label for="phoneNumber">Podaj Nowy Numer Telefonu:</label>
        <input type="text" id="phoneNumber" name=phoneNumber><br />

        <div id="submit" style="text-align:right;">
            <input type="submit" value="Wyślij">
        </div>
    </form>
    <hr />
    <!-- Wybierz Uwierzytlenianie przez X -->
    <hr />
    <!-- Usuń Się z danej firmy -->
    <h5 style=" font-weight: 800;font-size: xx-large;">Odepnij się od danej firmy</h5>
    @if (companies == null || companies.Count == 0)
    {
        <p>Nie znalezniono przypisanych do użytkownika firm</p>
    }
    else
    {
        <form asp-action="RemoveSelfFromCompany" asp-controller="User" method="post" class="p-3" style="border: solid 5px black;outline: solid 10px beige;padding 5px;">
            <label for="password">Podaj Hasło:</label>
            <input type="password" name=password>

            <label for="company">Wybierz firme z której chesz się usunąć:</label>
            <select name="company" id="company">
                @foreach (var company in companies)
                {
                    <option value="@company.ID">@company.Name</option>
                }
            </select><br />

            <div id="submit" style="text-align:right;">
                <input type="submit" value="Wyślij">
            </div>
        </form>
    }

    <hr />
    @*<a href="">??? Wybierz Sposób Dodatkowego Uwierzytelniania przy Logowaniu ???</a><br />*@
    @*<a href="">Odepnij się od danej Firmy</a><br />*@
</div>