@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link href="site.css" rel="stylesheet" type="text/css">
        <title>Stylowy nagłówek</title>
    </head>
    <style>

    </style>
    <body>
        <div class="center">

            <div id="panel" class="dataForm">
                <form class="dataForm">
                    <label for="username">Imię i nazwisko:</label>
                    <input type="text" id="ownername" name="ownername" disabled>
                    <label for="companyname">Nazwa firmy:</label>
                    <input type="text" id="companyname" name="companyname" disabled>
                    <label for="password">Hasło:</label>
                    <input type="password" id="text" name="password" disabled>
                    <label for="nip">NIP firmy:</label>
                    <input type="text" id="nip" name="nip" disabled>
                    <label for="city">Ulica:</label>
                    <input type="text" id="street" name="street" disabled>
                    <label for="city">Numer domu:</label>
                    <input type="text" id="localnumber" name="localnumber" disabled>
                    <label for="postalcode">Kod pocztowy:</label>
                    <input type="text" id="postalcode" name="postalcode" disabled>
                    <label for="city">Miasto:</label>
                    <input type="text" id="city" name="city" disabled>
                    <label for="city">Województwo:</label>
                    <input type="text" id="province" name="province" disabled>
                </form>
            </div>
        </div>
    </body>
    </html>
}
