@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link href="site.css" rel="stylesheet" type="text/css">
        <title>Stylowy nagłówek</title>
    </head>
    <body>
        <div class="center">

            <div id="panel" class="dataForm">
                <form class="dataForm">
                    <label for="username">Nazwa użytkownika:</label>
                    <input type="text" id="username" name="username" disabled>
                    <label for="password">Hasło:</label>
                    <input type="password" id="password" name="password" disabled>
                </form>
            </div>
        </div>
    </body>
    </html>
}
