@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link href="site.css" rel="stylesheet" type="text/css">
        <title>Stylowy nagłówek</title>
    </head>
    <style>
       
    </style>
    <body>
        <div class="center">

            <div id="panel" class="dataForm">
                <form class="dataForm">
                    <label for="username">Imię i nazwisko:</label>
                    <input type="text" id="ownername" name="ownername">
                    <label for="companyname">Nazwa firmy:</label>
                    <input type="text" id="companyname" name="companyname">
                    <label for="password">Hasło:</label>
                    <input type="password" id="text" name="password">
                    <label for="nip">NIP firmy:</label>
                    <input type="text" id="nip" name="nip">
                    <label for="city">Ulica:</label>
                    <input type="text" id="street" name="street">
                    <label for="city">Numer domu:</label>
                    <input type="text" id="localnumber" name="localnumber">
                    <label for="postalcode">Kod pocztowy:</label>
                    <input type="text" id="postalcode" name="postalcode">
                    <label for="city">Miasto:</label>
                    <input type="text" id="city" name="city">
                    <label for="city">Województwo:</label>
                    <input type="text" id="province" name="province">                   
                    <div id="lowerCompany">
                        <div id="lower">
                            <input type="submit" value="Zarejestruj firmę!">
                            <div> 
                            </div>
                            <a asp-area="" asp-controller="Home" asp-action="Login">Masz już konto? Zaloguj się tutaj!</a>
                        </div>
                
                </form>
            </div>
        </div>
    </body>
    </html>
}
