@{
    var footersColor = Context.Session.GetString("footersColor") ?? "#ffffff";
    var panelsColor = Context.Session.GetString("panelsColor") ?? "#1e2124";
    var textsColor = Context.Session.GetString("textsColor") ?? "#000000";
    var backgroundsColor = Context.Session.GetString("backgroundsColor") ?? "#ffffff";
}
<script>
    window.addEventListener("load", () => {
        document.body.addEventListener("change", () => {

            let backColor = document.getElementById("backgroundsColor");
            document.getElementById("Layout").style.setProperty("background-color", backColor.value, "important");

            let panelColor = document.getElementById("panelsColor");
            document.getElementById("layoutNavbar").style.setProperty("background-color", panelColor.value, "important");

            let textColor = document.getElementById("textsColor");
            document.body.style.setProperty("color", textColor.value, "important");

            let footerColor = document.getElementById("footersColor");
            document.getElementById("layoutFooter").style.setProperty("background-color", footerColor.value, "important");

            function changeColor() {
                const backColor = document.getElementById("backgroundsColor").value;
                localStorage.setItem("backgroundsColor", backColor);
                document.getElementById("Layout").style.setProperty("background-color", backColor, "important");
                document.getElementById("Layout").style.transition = 'all 1s';
            }

        });

        document.getElementById("styleDefault").addEventListener("click", () => {
            document.getElementById("backgroundsColor").value = "#ffffff";
            document.getElementById("panelsColor").value = "#1e2124";
            document.getElementById("textsColor").value = "#000000";
            document.getElementById("footersColor").value = "#ffffff";

            document.body.dispatchEvent(new Event('change'));
        });

        document.getElementById("styleRed").addEventListener("click", () => {
            document.getElementById("backgroundsColor").value = "#ffcbc7";
            document.getElementById("panelsColor").value = "#ff6559";
            document.getElementById("textsColor").value = "#000000";
            document.getElementById("footersColor").value = "#87140b";

            document.body.dispatchEvent(new Event('change'));
        });

        document.getElementById("styleBlue").addEventListener("click", () => {
            document.getElementById("backgroundsColor").value = "#ade6f7";
            document.getElementById("panelsColor").value = "#48b3fa";
            document.getElementById("textsColor").value = "#000000";
            document.getElementById("footersColor").value = "#0b5687";

            document.body.dispatchEvent(new Event('change'));
        });

        document.getElementById("styleGreen").addEventListener("click", () => {
            document.getElementById("backgroundsColor").value = "#91faa9";
            document.getElementById("panelsColor").value = "#029e2f";
            document.getElementById("textsColor").value = "#000000";
            document.getElementById("footersColor").value = "#0d7d34";

            document.body.dispatchEvent(new Event('change'));
        });
    });

</script>
<div class="container">
    <form asp-action="ChangeLayoutColor" asp-controller="Home" method="post" class="dataForm p-3">
        <div class="container">
            <h4 style="font-weight:bolder;z-index:11;">Kolory</h4>
            <div class="container p-3" style="background-color:white;z-index:10;border: solid 5px black;outline: solid 10px beige;">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3">
                            <label>Kolor tła:</label>
                            <input class="mx-4" type="color" name="backgroundsColor" id="backgroundsColor" value="@backgroundsColor">
                        </div>
                        <div class="col-2 offset-7">
                            <label>Kolor panelu:</label>
                            <input class="mx-4" type="color" name="panelsColor" id="panelsColor" value="@panelsColor">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-3">
                            <label>Kolor tekstu:</label>
                            <input class="mx-4" type="color" name="textsColor" id="textsColor" value="@textsColor">
                        </div>
                        <div class="col-2 offset-7">
                            <label>Kolor stopki:</label>
                            <input class="mx-4" type="color" name="footersColor" id="footersColor" value="@footersColor">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 offset-10">
                        <input type="submit" style="left:0" value="Zapisz">
                    </div>
                </div>
            </div>

            <div id="defaultStylings" style="position:relative;top:30px;">
                <h4 style="font-weight:bolder;z-index:11;">Podgląd Stylizacji</h4>
                <div class="row">
                    <div class="col-3">
                        <img src="~/css/styleDefault.png" style="cursor:pointer" id="styleDefault" height="150px" width="200px" />
                        <div class="card-body">
                            <p class="card-text">Stylizacja domyślna</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <img src="~/css/styleRed.png" style="cursor:pointer" id="styleRed" height="150px" width="200px" />
                        <div class="card-body">
                            <p class="card-text">Stylizacja czerwona</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <img src="~/css/styleBlue.png" style="cursor:pointer" id="styleBlue" height="150px" width="200px" />
                        <div class="card-body">
                            <p class="card-text">Stylizacja niebieska</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <img src="~/css/styleGreen.png" style="cursor:pointer" id="styleGreen" height="150px" width="200px" />
                        <div class="card-body">
                            <p class="card-text">Stylizacja zielona</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="row" style="position: relative;top:250px;">
                <!--#region Stylizacje  -->
            <!--<div>Stylizacja Tabel</div>-->
            <!--<div>Stylizacja Tekstu</div>-->
            <!--<div>Stylizacje Specjalne</div>-->
            <!--#endregion -->
            <!--#region main  -->
            <!--<label for="ImportStylizacji">Importuj Styl</label>-->
            <!--<input type="text" name="ImportStylizacji" id="ImportStylizacji">
            <!--#endregion -->
            <!--</div>-->
            <!-- <div class="row" style="position:relative;top:250px;">-->
            <!--??? Lista ogólnie dostępnych stylizacji od użytkowników ???
            </div>-->
        </div>
    </form>
</div>