<script>

        document.body.addEventListener("change", () => {        
        
        let backColor = document.getElementById("backgroundsColor");
        document.getElementById("Layout").style.backgroundColor = backColor.value;

        let panelColor = document.getElementById("panelsColor");
        document.getElementById("layoutNavbar").style.backgroundColor = panelColor.value;

        let textColor = document.getElementById("textsColor");
        document.body.style.backgroundColor = backColor.value;

        let footerColor = document.getElementById("footersColor");
        document.getElementById("layoutFooter").style.backgroundColor = footerColor.value;

        function onLoad(){
            const backColor = localStorage.getElementById("backgroundsColor");
        }
        function changeColor()  {
            const backColor = document.getElementById("backgroundsColor").value;
            localStorage.setItem("backgroundsColor", backColor);
            document.getElementById("Layout").style.backgroundColor = backColor;
            document.getElementById("Layout").style.transition = 'all 1s';
        }


    })
</script>
<div class="container text-center" style="z-index:1;">
    <h4 style="position:fixed;left:30px;top:180px;font-weight:bolder;">Kolory</h4>
    <div class="container text-center" style="position:fixed;left:0;top:220px;max-width:600px;min-width:min-content;height:auto;align-items:center;justify-content:center;border:4px solid black;outline:10px solid beige">
        <div class="col" style="position:relative;right:200px;">
        <label style="position:relative;right:20px;left:130px;">kolor tła: <input type="color" name="kolor" id="backgroundsColor" value="#ffffff"></label>
        <label style="position:relative;right:5px;top:100px;left:143px;">kolor panelu: <input type="color" name="kolor" id="panelsColor" value="#1e2124"></label>
        </div>
        <div class="col" style="position:relative;left:200px;">
        <label style="position:relative;right:7px;bottom:102px;left:165px;">kolor tekstu: <input type="color" name="kolor" id="textsColor" value="#ffffff"></label>
        <label style="position:relative;right:7px;left:165px;">kolor stópki: <input type="color" name="kolor" id="footersColor" value="#ffffff"></label>
        </div>
    </div>

    <h4 style="position:fixed;left:30px;top:450px;font-weight:bolder;">Podgląd Stylizacji</h4>
    <div class="card" style="position:fixed;left:0px;top:485px;justify-content:space-between">
        <img class="card-img-top" src="~/css/stylizacja domyślna.jpg" height="150px" width="150px" />
        <div class="card-body">
            <p class="card-text">stylizacja domyślna</p>
        </div>
    </div><br>
    <div class="card" style="position:fixed;left:161px;top:485px;justify-content:space-between">
        <img class="card-img-top" src="~/css/stylizacja czerwona.png" height="150px" width="150px" />
        <div class="card-body">
            <p class="card-text">stylizacja czerwona</p>
        </div>
    </div><br>
    <div class="card" style="position:fixed;left:322px;top:485px;justify-content:space-between">
        <img class="card-img-top" src="~/css/stylizacja niebieska.jpg" height="150px" width="150px" />
        <div class="card-body">
            <p class="card-text">stylizacja niebieska</p>
        </div>
    </div><br>
    <div class="card" style="position:fixed;left:483px;top:485px;justify-content:space-between">
        <img class="card-img-top" src="~/css/stylizacja zielona.jpg" height="150px" width="150px" />
        <div class="card-body">
            <p class="card-text">stylizacja zielona</p>
        </div>
    </div><br>
    
        
        
        
        
        
        <!--
        <div class="row" style="position: relative;top:250px;">
            <!--#region Stylizacje  -->
    <!--<div>Stylizacja Tabel</div>-->
            <!--<div>Stylizacja Tekstu</div>-->
            <!--<div>Stylizacje Specjalne</div>-->
            <!--#endregion -->
             
            <!--#region main  -->
    <!--<label for="ImportStylizacji">Importuj Styl</label>-->
            <!--<input type="text" name="ImportStylizacji" id="ImportStylizacji">
            <!--#endregion -->
    <!--</div>-->

           <!-- <div class="row" style="position:relative;top:250px;">-->
            <!--??? Lista ogólnie dostępnych stylizacji od użytkowników ???
            </div>-->
</div>