@{
    var footersColor = Context.Session.GetString("footersColor") ?? "#ffffff";
    var panelsColor = Context.Session.GetString("panelsColor") ?? "#1e2124";
    var textsColor = Context.Session.GetString("textsColor") ?? "#000000";
    var backgroundsColor = Context.Session.GetString("backgroundsColor") ?? "#ffffff";
}
<script>

    document.body.addEventListener("change", () => {

        let backColor = document.getElementById("backgroundsColor");
        document.getElementById("Layout").style.setProperty("background-color", backColor.value, "important");

        let panelColor = document.getElementById("panelsColor");
        document.getElementById("layoutNavbar").style.setProperty("background-color", panelColor.value, "important");

        let textColor = document.getElementById("textsColor");
        document.body.style.setProperty("color", textColor.value, "important");

        let footerColor = document.getElementById("footersColor");
        document.getElementById("layoutFooter").style.setProperty("background-color", footerColor.value, "important");

        function onLoad() {
            const backColor = localStorage.getElementById("backgroundsColor");
        }

        function changeColor() {
            const backColor = document.getElementById("backgroundsColor").value;
            localStorage.setItem("backgroundsColor", backColor);
            document.getElementById("Layout").style.setProperty("background-color", backColor, "important");
            document.getElementById("Layout").style.transition = 'all 1s';
        }

    })
</script>
<form asp-action="ChangeLayoutColor" asp-controller="Home" method="post" class="dataForm">
    <div class="container text-center">
        <h4 style="position:fixed;left:30px;top:180px;font-weight:bolder;z-index:11;">Kolory</h4>
        <div class="container text-center" style="background-color:white;z-index:10;position:fixed;left:0;top:220px;max-width:600px;min-width:min-content;height:auto;align-items:center;justify-content:center;border: solid 5px black;outline: solid 10px #4CAF50;">
            <div class="col" style="position:relative;right:200px;">
                <label style="position:relative;right:20px;left:130px;">kolor tła: <input type="color" name="backgroundsColor" id="backgroundsColor" value="@backgroundsColor"></label>
                <label style="position:relative;right:5px;top:100px;left:143px;">kolor panelu: <input type="color" name="panelsColor" id="panelsColor" value="@panelsColor"></label>
            </div>
            <div class="col" style="position:relative;left:200px;">
                <label style="position:relative;right:7px;bottom:102px;left:165px;">kolor tekstu: <input type="color" name="textsColor" id="textsColor" value="@textsColor"></label>
                <label style="position:relative;right:7px;left:165px;">kolor stópki: <input type="color" name="footersColor" id="footersColor" value="@footersColor"></label>
            </div>
            <input type="submit" value="Zapisz">
        </div>

        <div id="defaultStylings" style="position:relative;top:30px;">
        <h4 style="position:fixed;left:30px;top:485px;font-weight:bolder;z-index:11;">Podgląd Stylizacji</h4>
        <div class="card" style="position:fixed;left:0px;top:520px;justify-content:space-between">
            <img class="card-img-top" src="~/css/stylizacja domyślna.jpg" height="150px" width="150px" />
            <div class="card-body">
                <p class="card-text">stylizacja domyślna</p>
            </div>
        </div><br>
        <div class="card" style="position:fixed;left:161px;top:520px;justify-content:space-between">
            <img class="card-img-top" src="~/css/stylizacja czerwona.png" height="150px" width="150px" />
            <div class="card-body">
                <p class="card-text">stylizacja czerwona</p>
            </div>
        </div><br>
        <div class="card" style="position:fixed;left:322px;top:520px;justify-content:space-between">
            <img class="card-img-top" src="~/css/stylizacja niebieska.jpg" height="150px" width="150px" />
            <div class="card-body">
                <p class="card-text">stylizacja niebieska</p>
            </div>
        </div><br>
        <div class="card" style="position:fixed;left:483px;top:520px;justify-content:space-between">
            <img class="card-img-top" src="~/css/stylizacja zielona.jpg" height="150px" width="150px" />
            <div class="card-body">
                <p class="card-text">stylizacja zielona</p>
            </div>
        </div><br>
        </div>
        <!--
        <div class="row" style="position: relative;top:250px;">
            <!--#region Stylizacje  -->
    <!--<div>Stylizacja Tabel</div>-->
            <!--<div>Stylizacja Tekstu</div>-->
            <!--<div>Stylizacje Specjalne</div>-->
            <!--#endregion -->
             
            <!--#region main  -->
    <!--<label for="ImportStylizacji">Importuj Styl</label>-->
            <!--<input type="text" name="ImportStylizacji" id="ImportStylizacji">
            <!--#endregion -->
    <!--</div>-->

           <!-- <div class="row" style="position:relative;top:250px;">-->
            <!--??? Lista ogólnie dostępnych stylizacji od użytkowników ???
            </div>-->
    </div>
</form>