<script>
        document.body.addEventListener("change", () => {
        let backColor = document.getElementById("backgroundsColor");
            document.getElementById("Layout").style.backgroundColor = backColor.value;
        let panelColor = document.getElementById("panelsColor");
        document.getElementById("layoutNavbar").style.backgroundColor = panelColor.value;
        let textColor = document.getElementById("textsColor");
        document.body.style.backgroundColor = backColor.value;
        let footerColor = document.getElementById("footersColor");
        document.getElementById("layoutFooter").style.backgroundColor = footerColor.value;


    })
</script>
<div class="container text-center">
        <h4>Podgląd Stylizacji</h4>
        <div class="row">

        </div><br>

        <h4>Ustaw Stylizacje</h4>
        <div class="change" style="display:block;max-width:250px;min-width:min-content;height:auto;position:relative;left:150px;top:200px;border-top:2px solid black;border-left: 2px solid black;border-right:2px solid black;border-bottom:2px solid black;">
        <label style="position:relative;right:20px;">kolor tła: <input type="color" name="kolor" id="backgroundsColor" value="#ffffff"></label>
        <label style="position:relative;right:5px;">kolor panelu: <input type="color" name="kolor" id="panelsColor" value="#ffffff"></label>
        <label style="position:relative;right:7px;">kolor tekstu: <input type="color" name="kolor" id="textsColor" value="#ffffff"></label>
        <label style="position:relative;right:7px;">kolor stópki: <input type="color" name="kolor" id="footersColor" value="#ffffff"></label>
        </div>  
        <div class="row" style="position: relative;top:250px;">
            <!--#region Stylizacje  -->
            <div>Stylizacja Tabel</div>
            <div>Stylizacja Tekstu</div>
            <div>Stylizacje Specjalne</div>
            <!--#endregion -->

            <!--#region main  -->
            <label for="ImportStylizacji">Importuj Styl</label>
            <input type="text" name="ImportStylizacji" id="ImportStylizacji">
            <!--#endregion -->
        </div>

        <div class="row" style="position:relative;top:250px;">
            ??? Lista ogólnie dostępnych stylizacji od użytkowników ???
        </div>
</div>