@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Company? company = ViewData["Company"] as Company;
    List<Invoice>? invoices = ViewData["Invoices"] as List<Invoice>;
}

<div class="container text-center" style="background-color:white;z-index:10;border: solid 5px black;outline: solid 10px beige">
    @if (company == null)
    {
        <h3>Coś poszło nie tak...</h3>
    } 
    else if (invoices == null || invoices.Count <= 0)
    {
        <h3>Wystaw nową fakturę</h3>
        <form asp-action="AddInvoice" asp-controller="Invoice" method="post">
            <input type="number" value=@company.ID name="companyId" id="CompanyId" hidden>
            <input type="submit" class="btn btn-info" value="Utwórz nową fakturę">
        </form>

        <h3>Eksportuj faktury</h3>
        <form asp-action="ExportInvoice" asp-controller="Invoice" method="post">
            <input type="number" value=@company.ID name="companyId" id="CompanyId" hidden>
            <input type="submit" class="btn btn-primary" value="Wyeksportuj faktury">
        </form>

@*        <h3>Dodaj nową cykliczną fakture</h3>*@
    }
    else
    {
        @*
        Wystaw nową fakture
        Dodaj nową cykliczną fakture
        Dodaj nowy wzorzec faktury
        Zarządzaj fakturami cyklicznymi -- Modyfikuj, usuń
        Zarządzaj wzorcami faktur --Modyfikuj, usuń
        Przeglądaj wystawione faktury
        ?Przenieś faktury z danego okresu do archiwum?
        *@
    }

</div>
