@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Company> companies = (List<Company>)ViewData["Companies"];
    int privilages = ViewData["Privilages"] != null ? int.Parse(ViewData["Privilages"].ToString()) : -1;
}
<div class="index-container">
    
    <h4>Ustawienia użytkownika</h4>
    <div class="text-start container">
        <a asp-controller="User" asp-action="Account">Moje Dane</a>
        <a asp-controller="User" asp-action="AccountSettings">Ustawienia Konta</a>
        <a asp-controller="User" asp-action="StylingSettings">Ustawienia Stylizacji</a>
    </div>


    <!--Niektóre opcje widoczne tylko dla osób uprawnionych-->
    <h4>Firmy</h4>
    <div class="text-start container">
        @if(privilages >= 0){

            <form asp-action="CompanyData" asp-controller="Company" method="post">
                <input type="submit" value="Zarządzaj Swoimi Firmami">
            </form>

            <form asp-action="ClientData" asp-controller="Client" method="post">
                <input type="submit" value="Zarządzaj Klientami">
            </form>

            <form asp-action="InvoiceData" asp-controller="Invoice" method="post">
                <input type="submit" value="Zarządzaj Fakturami">
            </form>

            @if(privilages >= 1){
                <form asp-action="WorkerData" asp-controller="Worker" method="post">
                   <input type="submit" value="Zarządzaj Pracownikami">
                </form>
            }

            <form asp-action="Logs" asp-controller="Company" method="post">
                <input type="submit" value="Zobacz Historie Aktywności Firmy">
            </form>
        }
        
    </div>
</div>
