@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Company> companies = (List<Company>)ViewData["Companies"];
    int privilages = ViewData["Privilages"] != null ? int.Parse(ViewData["Privilages"].ToString()) : -1;
}
<div class="container">
    <nav class="menu">
        <ul class="menu__list">           
            <li class="menu__item menu__item--parent">
                <a href="#offer" class="menu__link">Panel Użytkownika ▼</a>
                <ul class="menu__sublist menu__sublist--bottom">
                    <li class="menu__item">
                        <a asp-controller="User" asp-action="Account">Moje Dane</a>
                    </li>
                    <li class="menu__item menu__item--parent">
                        Ustawienia ▶
                        <ul class="menu__sublist menu__sublist--right">
                            <li class="menu__item">
                                <a asp-controller="User" asp-action="AccountSettings">Dane Konta</a>
                            </li>
                            <li class="menu__item">
                                <a asp-controller="User" asp-action="StylingSettings">Style</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="#shop" class="menu__link">Dodaj Firmę</a>
                    </li>
                </ul>
            </li>
            <li class="menu__item menu__item--parent">
                <a href="#offer" class="menu__link">Panel Firmy ▼</a>
                <ul class="menu__sublist menu__sublist--bottom">
                    <li class="menu__item">
                        <a href="#shop" class="menu__link">Dane Firmy</a>
                    </li>
                    <li class="menu__item">
                        <a href="#shop" class="menu__link">Panel Pracowników</a>
                    </li>
                    <li class="menu__item">
                        <a href="#shop" class="menu__link">Panel Klientów</a>
                    </li>
                </ul>
            </li>
            <li class="menu__item menu__item--parent">
                <a href="#offer" class="menu__link">Panel Faktur ▼</a>
                <ul class="menu__sublist menu__sublist--bottom">
                    <li class="menu__item">
                        <a href="#shop" class="menu__link">Utwórz Fakturę</a>
                    </li>
                    <li class="menu__item">
                        <a href="#shop" class="menu__link">Generuj Rozliczenie z Klientem</a>
                    </li>
                    <li class="menu__item">
                        <a href="#shop" class="menu__link">Historia Faktur</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </nav>
    
    <h4>Ustawienia użytkownika</h4>
    <div class="text-start container">
        <a asp-controller="User" asp-action="Account">Moje Dane</a><br />
        <a asp-controller="User" asp-action="AccountSettings">Ustawienia Konta</a><br />
        <a asp-controller="User" asp-action="StylingSettings">Ustawienia Stylizacji</a><br />
    </div>


    <!--Niektóre opcje widoczne tylko dla osób uprawnionych-->
    <h4>Firmy</h4>
    <div class="text-start container">
        <label for="firmy">Wybierz Firme:</label>
        @if(companies != null && companies.Count > 0 && privilages == 0){
            <select name="Companies" id="Companies">
                @foreach (var company in companies)
                {
                    <option value="@company.ID">@company.Name</option>
                }
            </select>
            <br />

            <form asp-action="CompanyData" asp-controller="Company" method="post">
                <input type="number" value="" name="CompanyId" id="CompanyId" hidden>
                <input type="submit" value="Zarządzaj Swoimi Firmami">
            </form>

            <form asp-action="ClientData" asp-controller="Client" method="post">
                <input type="number" value="" name="CompanyId" id="CompanyId"  hidden>
                <input type="submit" value="Zarządzaj Klientami">
            </form>

            <form asp-action="InvoiceData" asp-controller="Invoice" method="post">
                <input type="number" value="" name="CompanyId" id="CompanyId"  hidden>
                <input type="submit" value="Zarzązaj Fakturami">
            </form>

            <form asp-action="WorkerData" asp-controller="Worker" method="post">
                <input type="number" value="" name="CompanyId" id="CompanyId"  hidden>
                <input type="submit" value="Zarządzaj Pracownikami">
            </form>

            <form asp-action="Logs" asp-controller="Company" method="post">
                <input type="number" value="" name="CompanyId" id="CompanyId"  hidden>
                <input type="submit" value="Zobacz Historie Aktywności Firmy">
            </form>
        }
        
    </div>
    @section Scripts
    {
        <script type="text/javascript">
            var formCompanyIdInputs = document.querySelectorAll("#CompanyId");
            var companiesSelect = document.querySelector("#Companies");
            console.log('Start');
            console.log(companiesSelect.value);

            companiesSelect.addEventListener('change', function () {
                console.log('Select event, value: ' + companiesSelect.value);

                formCompanyIdInputs.forEach(function (item) {
                    item.value = companiesSelect.value;
                });
            });

            formCompanyIdInputs.forEach(function (item) {
                console.log(companiesSelect.value);
                item.value = companiesSelect.value;
            });
        </script>
    }
</div>
