@{
    ViewData["Title"] = "LoginView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-3 text-center">
    <h1>
        Login Form
    </h1>
</div>

<div class="container w-50 my-4 border border-3 rounded-3">
    <form asp-action="Login" asp-controller="User" method="post">
        <div class="my-3">
            <label for="" class="form-label mb-3 h4">Username:</label>
            <input name=Username type="text" class="form-control" required>
        </div>

        <div class="my-3">
            <label for="" class="form-label mb-3 h4">Password:</label>
            <input name=Password asp type="text" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary px-3 my-2">Login</button>
    </form>

    <div class="my-1">
        <span class="text-center">
            Don't have an account? Register company here:
            <a asp-area="" asp-controller="User" asp-action="RegisterTest">Company register form</a> <br>
            Do you have referal token to join your company? Create or add your profile here:
            <a asp-area="" asp-controller="User" asp-action="RegisterTest">I got Company Referal Token!</a>
        </span>
    </div>
</div>

