<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dane Firmy</title>
</head>
<body>
    <div class="container text-center">
        <a href="">Dodaj Firme</a>
        <a href="">Modyfikuj Dane Firmy</a>
        <a href="">???Usuń Firmę???</a>
    </div>
</body>
</html>