@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #inputs{
        position:relative;
        bottom:30px;
    }
    #title{
        font-weight:600;
        position:relative;
        font-size:larger;
        font:bolder;
    }
    
</style>
<body style="z-index:-1;">
    <div class="container text-center" style="padding:10px;">
        <h5 id="title" style="font-weight:800;font-size:xx-large;position:relative;text-align:left;z-index:11;">Dodaj Nową Firmę</h5>
        <from>
            <form asp-action="CreateNewCompany" asp-controller="Company" method="post" style="border: solid 5px black;outline: solid 10px beige;background-color:white;z-index:10;padding 5px;position:relative;bottom:15px;width:750px;">
                <label for="companyName">Nazwa Firmy:</label>
                <input type="text" id="inputs" name="companyName" required>

                <label for="companyOwnerName">Imię i Nazwisko Właściciela:</label>
                <input type="text" id="inputs" name="companyOwnerName" required>

                <label for="companyPostalCode">Kod Pocztowy:</label>
                <input type="text" id="inputs" name="companyPostalCode" required>

                <label for="companyCity">Miasto:</label>
                <input type="text" id="inputs" name="companyCity" required>

                <label for="companyProvince">Województwo:</label>
                <input type="text" id="inputs" name="companyProvince">

                <label for="companyStreet">Ulica:</label>
                <input type="text" id="inputs" name="companyStreet" required>

                <label for="companyLocaleNumber">Numer Lokalu:</label>
                <input type="text" id="inputs" name="companyLocaleNumber" required>

                <label for="companyContactNumber">Numer Kontaktowy Klienta:</label>
                <input type="text" id="inputs" name="companyContactNumber" required>

                <label for="companyContactMail">E-mail Klienta:</label>
                <input type="text" id="inputs" name="companyContactMail" required>

                <label for="companyNIP">NIP:</label>
                <input type="text" id="inputs" name="companyNIP" required>

                <label for="companyBankName">Nazwa Banku:</label>
                <input type="text" id="inputs" name="companyBankName" required>

                <label for="companyBankAccountNumber">Numer Konta Bankowego:</label>
                <input type="text" id="inputs" name="companyBankAccountNumber" required>
                <br><br>

                <input type="submit" class="btn btn-outline-dark" value="Dodaj Firmę" style="text-align:right;">
            </form>
        </from>
    </div>

</body>
