<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faktury</title>
</head>
<body>
    <div class="container text-center">
        <a href="">Ustawienia Zatwierdzania Faktur</a>
        <a href="">Wystaw Nową Fakture dla Stałego Klienta</a>
        <a href="">Stwórz Nową Cykliczną Fakture dla Stałego Klienta</a>
        <a href="">Wystaw Nową Fakture dla Oddzielnego Klienta</a>
        <!--Per Faktura-->
        <a href="">Zobacz szczegóły faktury</a>
        <a href="">Zobacz cykliczne faktury</a>
    </div>
</body>
</html>