<div class="container text-center">
    <a href="">Ustawienia Zatwierdzania Faktur</a><br />
    <a href="">Wystaw Nową Fakture dla Stałego Klienta</a><br />
    <a href="">Stwórz Nową Cykliczną Fakture dla Stałego Klienta</a><br />
    <a href="">Wystaw Nową Fakture dla Oddzielnego Klienta</a><br />
    <!--Per Faktura-->
    <a href="">Zobacz szczegóły faktury</a><br />
    <a href="">Zobacz cykliczne faktury</a><br />
</div>