<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aktywnośc Logów</title>
</head>
<body>
    <div class="container text-center">
        <label for="firmy">Wybierz Firme:</label>
        <select name="firmy" id="firmy">
          <option value="A">Firma A</option>
          <option value="B">Firma B</option>
          <option value="C">Firma C</option>
        </select>

        <table>
            <tr>
              <th>Data i Czas Akcji</th>
              <th>Rodzaj Logu</th>
              <th>Komunikat</th>
              <th>Użytkownik</th>
            </tr>
            <tr>
              <td>Test Czas</td>
              <th>Test Rodzaj</th>
              <td>Test Komunikatu</td>
              <td>Test Użytkownik</td>
            </tr>
        </table>
        
    </div>
    
</body>
</html>