<div class="container text-center">
    <a href="">Dodaj Nowy Poziom Przywilejów</a><br />
    <a href="">Dodaj Pracownika</a><br />
    <a href="">Modyfikuj Pracownika</a><br />
    <a href="">Usuń Pracownika</a>
</div>