html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* logowanie */
.center {
    width: 900px;
    margin: 0 auto;
    margin-top: 150px;
}

#panel {
    width: 400px;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    border: 1px solid silver;
    font: 16px calibri;
    letter-spacing: -1px;
    padding: 15px 0 0;
    -webkit-box-shadow: 0 0 2px silver;
    -moz-box-shadow: 0 0 2px silver;
    box-shadow: 0 0 2px silver;
}

form {
    margin: 0;
}

label {
    display: block;
    width: 260px;
    padding: 10px 20px;
    color: #696969;
    font-size: 16px;
    text-shadow: 0 0 1px silver;
}

#username, #password {
    font-size: 22px;
    display: block;
    width: 360px;
    margin: 0 auto;
    padding: 10px 5px;
    border: 1px solid silver;
    outline: 5px solid #ebebeb;
}

    #username:focus, #password:focus {
        outline: 5px solid #e5f2f8;
    }

#lower {
    background: #ecf2f5;
    width: 398px;
    padding: 15px 20px;
    margin-top: 20px;
}
.checkbox {
    position:relative;bottom:25px;
}
.check {
    position:relative;
    margin-top: 1px;
    display: inline;
    float: none;
    font-size: 11px;
    
}
.text-center {
    margin-left:5px;

}
.registerForm {
    position:relative;left:35px;
}

.dataForm * input[type="submit"] {
    width: 160px;
    padding: 5px 13px;
    border: 1px solid #005f85;
    color: white;
    text-shadow: 0 0 1px black;
    background: #98c9dc;
    position: relative;
    left: 180px;
}

#panel, input[type="submit"] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* logowanie */
.dataForm * input[type="text"], .dataForm * input[type="password"] {
    
    position:relative;left:45px;
    margin-left:15px;
}
.dataForm:focus{
    outline: 5px solid #e5f2f8;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

/* Main menu */
.menu {
    display: block;
    width: 100%;
    background: radial-gradient(circle at center, blue, white), 100%;
    background-color: #3d3aeb;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    text-emphasis-color: black;
    border-bottom-right-radius: 15%;
    border-width: thick;
    border-right-style: solid;
    border-color: aqua;
    box-shadow: 5px;
    border-inline-width: thick;
    border-inline-color: beige;
    outline: solid 2px black;
}


.menu__list {
    display: inline-flex;
}


.menu__link,
.menu__item--parent {
    padding: 15px 20px;
}

.menu__link {
    color: #fff;
}

.menu__item--parent {
    cursor: default;
    position: relative;
}

/* Drop-down */
.menu__sublist {
    display: none;
    position: absolute;
    background-color: white;
}

.menu__sublist--bottom {
    left: 0;
    top: 100%;
    outline: solid 2px black;
}

.menu__sublist--right {
    left: 100%;
    top: 0;
    outline: solid 2px black;
}

/* Change background color on hover for menu and drop-down items */
.menu__item:hover {
    background-color: #201dca;
}

/* Show drop-down on hover of the parent menu item */
.menu__item--parent:hover > .menu__sublist {
    display: block;
}

#globalPanel {
    border: 4px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;
    padding: 5px;
    width: 400px;
    font-size: large;
    -webkit-font-smoothing: auto;
    position:relative;top:150px;
}
